body{
    margin: 1dvh;
    background-color: rgb(238, 237, 237);
}

header {    
    background-color: #362417;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a,header {
    text-decoration: none;
    color: wheat;
}

.barra-arriba {
    display: flex;
    background-color: #92817a;
    flex-direction: row;
}

.info {
    background-color:  #ffffff;
    padding: 5dvh;
    padding-top: 2dvh;
    width: 200dvh;
}

#contenedor-foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}

img{
    height: 100px;
    width: auto;
}

#imagen {
    width: 90px;
    height: 90px;
    margin-bottom: 2vh;
}

.central {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.opciones {
    display: flex;
    padding: 5vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: groove;
    background-color: #92817a;
}

.caja {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vh;
    height: 20vh;
    padding: 1%;
    margin: 2%;
}

#caja {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vh;
    padding: 1%;
    padding-bottom: 2%;
    margin: 2%;
}



/*Botón para abrir la barra lateral*/
.boton-activar {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #0077b5;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.boton-activar:hover {
    background-color: #005582;
}

/*Ocultar el checkbox*/
.activar-checkbox {
    display: none;
}

/*barra lateral en forma oculta*/
.barra-lateral{
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
}

/*Botones de la barra lateral*/
.barra-lateral a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #f4f4f4;
    display: block;
    transition: 0.3s;
    margin: 2dvh;
}

.barra-lateral a:hover {
    background-color: #575757;
    color: #fff;
}

.activar-checkbox:checked ~ .barra-lateral {
    width: 30dvh;
}
