body{
    margin: 1dvh;
    background-color: rgb(238, 237, 237);
}

header {    
    background-color: #362417;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a,header {
    text-decoration: none;
    color: wheat;
}

.barra-arriba {
    display: flex;
    background-color: #92817a;
    flex-direction: row;
}

.info {
    background-color:  #ffffff;
    padding: 5dvh;
    padding-top: 2dvh;
    width: 200dvh;
}

#contenedor-foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}

img{
    height: 100px;
    width: auto;
}

#imagen {
    width: 90px;
    height: 90px;
    margin-bottom: 2vh;
}

.central {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.opciones {
    display: flex;
    padding: 5vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: groove;
    background-color: #92817a;
}

.caja {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vh;
    height: 20vh;
    padding: 1%;
    margin: 2%;
}

#caja {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vh;
    padding: 1%;
    padding-bottom: 2%;
    margin: 2%;
}

