.grupo{
    width: auto;
    height: 50%;
}
.seccion{
    display: flex;
    background-color: gray;
    padding: 5vh;
    flex-direction: row;
    flex-wrap: wrap;
}
.perfil{
    float: right;
    clear: both;
    width: 60vh;
    height: 26vh;
    background-color: aqua;
    padding-right: 5vh;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    
}
.fotoperfil{
    width: auto;
    height: 12vh;
    border-style: groove;
    border-radius: 100%;
    margin-left: 5vh;
    margin-top: 3vh;
}
.nombre-botones-perfil{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    height: 12vh;
    width: 30vh;
    float: right;
    text-align: center;
}

#fotopubli{
    width: 20vh;
    height: auto;
    margin:7%;
}
.cabeceraindex{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.barra-superior {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    margin: 2vh;
    width: 60vh;
    height: auto;
}


.foto-de-perfil-pagina-centrar{
    display:flex;
    flex-direction: initial;
    margin: 10vh;
    text-align: center;
    align-items: center;
    background-color: gray;
}

.pagina-centrar{
    align-items: center;
    background-color: aqua;
    margin: 10vh;
    text-align: center;
    padding: 10vh;
}
.cuadro-inicio-sesion{
    background-color: aqua;
    margin: 10vh;
    text-align: center;
    padding: 10vh;
    width: 40vh;
    height: 50vh;
    

}

#bloque-texto{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.boton-fotoperfil{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 40vh;
    background-color: beige;
    margin: 5vh;
}
.boton{
    height: 5vh;
    width: auto;
    padding-bottom: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    border-style: groove, black;
}
.boton2{
    height: 5vh;
    width: auto;
    padding-bottom: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    border-style: groove, black;
    margin: 4vh;
}
.publicaciones{
    display: flex;
    flex-wrap: wrap;
}


/*Botón para abrir la barra lateral*/
.boton-activar {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #0077b5;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.boton-activar:hover {
    background-color: #005582;
}

/*Ocultar el checkbox*/
.activar-checkbox {
    display: none;
}

/*barra lateral en forma oculta*/
.barra-lateral{
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
}

/*Botones de la barra lateral*/
.barra-lateral a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #f4f4f4;
    display: block;
    transition: 0.3s;
    margin: 2dvh;
}

.barra-lateral a:hover {
    background-color: #575757;
    color: #fff;
}

.activar-checkbox:checked ~ .barra-lateral {
    width: 30dvh;
}
